# Leiningen
*jar
/.lein-deps-sum
/.lein-failures
/checkouts
/classes
/lib
/native
/pom.xml
/target

# Emacs
*~
.\#*
.elc
/.emacs.desktop
/.emacs.desktop.lock
\#*\#
auto-save-list
tramp

# OS X
.DS_Store
.Spotlight-V100
.Trashes
._*
